/* src/pages/Projects/ProjectPage.css */

.projectPage {
  padding: 100px 50px 80px;
  background-color: #0d0d0d;
  color: #ffffff;
}

.projectsTitle {
  text-align: center;
  font-size: 42px;
  color: #00aaff;
  margin-bottom: 60px;
  /* Aumenta o espaço abaixo do título */
  text-shadow: 0px 0px 8px #00aaff;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /* Maior espaçamento entre os projetos */
  align-items: center;
}

/* Estilo dos containers dos projetos */
.projectItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  /* Sombra mais suave */
  border: 1px solid #00aaff;
  max-width: 1000px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectItem:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(0, 168, 255, 0.7);
}

.projectImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  width: 300px;
  margin-right: 25px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.projectItem:hover .projectImage {
  transform: scale(1.05);
  /* Zoom-in ao passar o mouse */
  box-shadow: 0 0 15px rgba(0, 168, 255, 0.7);
}

.projectDescription {
  flex: 1;
  text-align: left;
  padding-left: 40px;
  /* Ajuste de espaço à esquerda */
}

.projectTitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  /* Mais espaço abaixo do título */
  color: #00aaff;
  text-shadow: 0px 0px 5px #00aaff;
  transition: text-shadow 0.3s ease;
}

.projectTitle:hover {
  text-shadow: 0px 0px 10px #00ffcc;
  /* Brilho maior no hover */
}

.projectText {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #d0d0d0;
  padding-right: 20px;
}

.projectTechnologies h3 {
  margin-bottom: 10px;
  color: #00ffcc;
  font-size: 22px;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #00ffcc;
}

.projectTechnologies ul {
  padding-left: 20px;
  color: #bfbfbf;
}

.projectTechnologies li {
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.projectTechnologies li:hover {
  color: #ffffff;
  /* Destaque ao passar o mouse */
}

.projectVideo h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #00ffcc;
  font-size: 22px;
  text-shadow: 0px 0px 5px #00ffcc;
}

.projectVideo video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 168, 255, 0.5);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.projectVideo video:hover {
  transform: scale(1.03);
  /* Leve zoom-in no hover */
  box-shadow: 0 0 25px rgba(0, 168, 255, 0.7);
}

/* Ajuste para mobile */
@media (max-width: 768px) {
  .projectItem {
    flex-direction: column;
    text-align: center;
  }

  .projectImage {
    width: 100%;
    margin-bottom: 20px;
  }

  .projectText {
    font-size: 18px;
    line-height: 1.8;
  }
}